*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
}

h1{
    position: absolute;
    top: 25vh;
    left: 1vh;
    font-size: 18vh;
    color: #000000;


}

img{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: calc(50% + 12vh);
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% + 10vh);
    left: 50%;
    bottom: 1vh;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: calc(100% - 2vh);
    border-radius: 1vh;
    font-size: 6vh;
    text-align: center;


}

svg {
    position: absolute;
    bottom: calc(49% - 10vh);
    left: 50%;
    transform: translateX(-50%);
}